<% include ./partials/dashboardnavbar %>
<h3><%= diary.date.toDateString() %></h3>
<h2><%= diary.title %></h2>
<% if(typeof diary.img !='undefined') { %>
    <% if(typeof diary.img.image !='undefined') { %>
        <img  class="img-fluid" src="data:<%=diary.img.contentType%>;base64,<%=diary.img.image.toString('base64')%>" >
    <% } }%>
<p class="font-weight-lighter" style='font-size:25px;font-family:"Monotype Corsiva", cursive;white-space: pre-wrap;'><%= diary.body %></p>
<a href='/entries/edit/<%=diary.id%>' class="btn btn-primary">Edit diary</a>
